<div class="container py-4">
<div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 offset-3">
      <h5 class="text-white text-right bg-primary px-3 py-4 mb-0">تغییر رمز عبور</h5>
      <form class="p-2 bg-faded text-center" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input
            class="form-control form-control-lg"
            placeholder="رمز عبور جدید"
            [(ngModel)]="password.newPass"
            name="newPass"
            (change)="onChange()"
            type="password"
            />
        </div>
        <div class="form-group">
          <input
            (change)="onChange()"
            class="form-control form-control-lg"
            placeholder="تکرار رمز عبور"
            [(ngModel)]="password.repPass"
            name="repPass"
            type="password"
          />
        </div>
        <a class="btn btn-secondary btn-lg w-25 mx-2" asp-action="Index">انصراف</a>
        <button class="btn btn-success btn-lg w-25 mx-2" type="submit" [disabled]="!formValid">ذخیره</button>
      </form>
    </div>
  </div>
</div>
