<div class="home" *ngIf="_footerState">
  <footer class="footer">
    <div class="title">
      <div class="img">
        <img src="assets/footer_logo.png" alt="" class="footer_img">
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
          <div class="social-box">
            <div class="sb-title">معما پی در شبکه اجتماعی</div>
            <a target="_blank" href="https://www.instagram.com/moamma_pey/" class="social-link"><img
                src="assets/instagram.png" alt="" class="img"></a>
            <a target="_blank" href="https://t.me/moamma_pey" class="social-link">
              <img src="assets/telegram.png" alt="" class="img">
            </a>
            <a href="#" class="social-link">
              <img src="assets/linkedin.png" alt="" class="img">
            </a>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">

        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
          <div class="address-box">
            <div class="ab-title">آدرس دفتر در استان قم</div>
            <div class="address">
              <img src="assets/location.png" alt="Location" class="address-icon">
              قم- خیابان دانیال- دانیال 22- نبش فرعی 2
            </div>
            <div class="tell">
              <img src="assets/cell.png" alt="" class="tell-icon">
              <span class="-text">32894819 - 0253 </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row align-items-end">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12"></div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
          <div class="argument-box">
            <div class="text">
              کلیه حقوق این سایت متعلق به شرکت معما رادمان پی نگار میباشد
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12"></div>
      </div>
    </div>
  </footer>
</div>
