<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>معمارادمان پی نگار</title>
    <link href="~/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/styles/login.css" rel="stylesheet" />
    <link href="~/styles/fonts.css" rel="stylesheet" />

</head>
<body>
    @RenderSection("Scripts", false)
    @RenderBody()
</body>
</html>