<div class="articles">
  <div class="articles_list">
    <div class="container">
      <div class="item">
        <div class="row align-items-center">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">

            <span class="title">
              عنوان مقاله
            </span>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 d-flex justify-content-end">
            <div class="item--info">
              <span class="date">
                <i class="fa fa-calendar"></i>
                2019-24-04
              </span>
              <span class="comment">
                <i class="fa fa-comment"></i>
                4
              </span>
              <span class="state">
                <!-- Condition For Archived or not Archived-->
                <i class="fa fa-archive"></i>
                <!-- <i class="fa fa-check-square"></i> -->
              </span>
              <a class="cog" asp-action="edit/@.Id">
                <i class="fa fa-cog"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
