<div class="settings">
  <div class="container">
    <div class="box">
      <a class="item" routerLink="./change-profile">
        <i class="fa fa-user-circle"></i>
        تغییر اطلاعات کاربری
      </a>
      <a class="item" routerLink="./change-password">
        <i class="fa fa-key"></i>
        تغییر رمز عبور
      </a>
      <a class="item" routerLink="./avatar-setting">
        <i class="fa fa-image"></i>
        تغییر آواتار
      </a>
      <a class="item out" (click)="onExit()">
        <i class="fa fa-sign-out"></i>
        خروج
      </a>
    </div>

  </div>
</div>
