// Dark
$black_1: #2b2b2c;
$black_2: #2a2a2a;
$black_3: #232425;
$black_4: #363636;
$gray_1: #7c7c7a;
$gray_2: #444;
$dark_1: #444444;
$dark_2: rgba(104, 104, 104, .3);
// Gold, Yellow
$gold_1: #f9e390;
$gold_2: #ffd832;
$gold_3: #ffb919;
$gold_4: #ffd819;
$gold_op: rgba(#f9e390, .25);
// White
$white_1: #e9ebee;
// Red
$red_1: #f94343;
$red_2: #e79a9a;
// Green
$green: #13a804;
$green_1: #50f943;
// Blue
$blue_1: #687fee;
$blue_2: #e9ebee;
$blue_3: #2d4ce9;
$blue_4: #677bdd;
$blue_5: #86AFFF;
